<div class="container">
  <%= form_tag("/works/#{@work.id}/update") do%>
    <div class="form">
      <div class="form-body">
        <textarea name="title"><%= @work.title %></textarea>
        <textarea name="detail"><%= @work.detail %></textarea>
        <input type="submit" value="保存" class="btn btn-lg btn-primary">
      </div>
    <% end %>
  </div>
</div>
