<h1>Works#index</h1>

 <div class="container">
   <% @works.each do |work| %>
    <div class="work-index-title">
      <%= work.title %>
    </div>
    <div class="work-index-item">
      <%= work.detail %>
    </div>
   <% end %>
 </div>
