<% provide(:title,@user.name)%>
<div class="row">
  <div class="col-sm-2 col-md-2">

            <%= gravatar_for @user %>

  </div>
  <div class="col-sm-10 col-md-10">
    <div class="aside">
      <section>
        <h3>name:<%= @user.name %><br/></h3>
        email:<%= @user.email %>
      </section>
    </div>
  </div>
</div>
<div class="row jumbotron">
  <h2>ここにWorkが入る</h2>

  <div class="row">
    <div class="col-sm-4 col-md-4"></div>

    <div class="col-sm-4 col-md-4"></div>
</div>
